
<%meta title: "Home | MBA numbers | Business School Rankings | mba numbers by ranking |  top ranked business schools | MBA Education | gmat MBA in USA | MBA Admissions @mbanumbers.com
",
         description: "MBA numbers providing particular GMAT and GPA logins for students .We are the top most MBA education ,Business School Rankings ,mba numbers by ranking , top ranked business schools , MBA Education , gmat MBA in USA , MBA Admissions",
         keywords: "MBA numbers , Business School Rankings, mba numbers by ranking , top ranked business schools , MBA Education , MBA Admissions , gmat MBA in USA."
    %>

<%= render :partial => 'layouts/slider' %>

<%= render :partial => 'homepage/groupnews' %>

<% unless @users.nil? || @schools.nil? %>

  <%= render :partial => 'homepage/recentapp' %>
  <%else %>
  <p>No Recent Application</p>
<% end %>

<%= render :partial => 'homepage/user' %>

<%#= render :partial => 'homepage/searchschool' %>

<%= render :partial => 'homepage/testimonials' %>

<%= render :partial => 'homepage/social' %>
<div class="twelve column" style="text-align:center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- horizontal 2 -->
	<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6430317842295107"
     data-ad-slot="9645169322"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
    </div>

    <div class="clear"></div>