<%= render :partial => 'layouts/slider' %>

<%= render :partial => 'homepage/groupnews' %>

<% unless @users.nil? || @schools.nil? %>

  <%= render :partial => 'homepage/recentapp' %>
  <%else %>
  <p>No Recent Application</p>
<% end %>

<%= render :partial => 'homepage/user' %>

<%#= render :partial => 'homepage/searchschool' %>

<%= render :partial => 'homepage/testimonials' %>

<%= render :partial => 'homepage/social' %>
<div class="twelve column" style="text-align:center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- horizontal 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6430317842295107"
     data-ad-slot="9645169322"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <div class="clear"></div>