<div class="gdlr-lms-content">
<div class="gdlr-sidebar gdlr-right-sidebar two columns" >
		<div class="google_adsense skyscraper" style="padding-left: 18px;">
		 <div class="profile_blog_lft" style="border:none">
						<%= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>

						<%#= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
						
		
						</div>
		</div>
		
	</div>
	<div class="one column"></div>
	<div class="seven columns">
			<div class="gdlr-item gdlr-tab-item horizontal"><div class="tab-title-wrapper"><a href="<%=mailboxes_mailbox_path %>"><h4 class="tab-title"><i class="icon-inbox"></i><span>Inbox</span></h4></a>
			<a href="<%=mailboxes_outbox_path %>"><h4 class="tab-title active"><i class="icon-share-alt"></i><span>Outbox</span></h4></a><a href="<%=mailboxes_newest_path %>"><h4 class="tab-title"><i class="icon-edit"></i><span>Compose</span></h4></a></div><div class="tab-content-wrapper">
				<i class="icon-chevron-left" ></i>
	<i class="icon-chevron-left" ></i><a href="<%=profile_index_path %>">Back to profile</a>

			<div class="tab-content ">
			<table class="style-1">
				<tbody>
				<tr>
				<th id="th" style="text-align:left;width: 25%;">To
				</th><th id="th" style="text-align:center width:50% ">Message</th>
				<th id ="th" style="width:25%">Newest</th>
				</tr>	
				</tbody>
				</table>
					
					</div>


					<div class="tab-content active">
					<table class="style-1">

				<tbody>

				<tr>
				<th id="th" style="text-align:left;width:25%;">To
				</th><th id="th" style="text-align:center; width:50% " >Message</th>
				<th id ="th" style="width:25%">Newest</th>
				</tr>
				<tr>
				<% @senderoutbox.each do |f| %>
				
				<td style="width:25%">
				<b><%=f.name %></b><br>
				<a href="#" style="font-size:14px"><%=f.subject %></a><br>
				<a href="<%= mailboxes_outboxdel_path(f.id) %>" style="color:#d6724f"><i class="gdlr-icon icon-remove" ></i>Delete</a></td>
				<td style="width:50%"><b><%= f.message %></b></td>
				<td style="25%"><%= f.created_at.strftime("%B %d, %Y %H:%M") %></td>	</tr>					
		
				<%end %>
				</tbody>
				</table>
					</div>
					<div class="tab-content">
					</div></div><div class="clear"></div></div>
	</div>
	<div class="gdlr-sidebar gdlr-right-sidebar two columns" >
		<div class="google_adsense skyscraper" style="padding-left: 18px;">
		 <div class="profile_blog_lft" style="border:none">
						<%= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>

						<%#= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
						
		
						</div>
		</div>
		
	</div>
	<div class="twelve column" style="text-align:center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- horizontal 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6430317842295107"
     data-ad-slot="9645169322"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
	<div class="clear"></div>
</div>