<%meta title: " MBS SCHOOLS | MBA numbers | Business School Rankings | mba numbers by ranking |  top ranked business schools | MBA Education | gmat MBA in USA | MBA Admissions @mbanumbers.com

  ",
         description: "
MBA numbers providing particular GMAT and GPA logins for students .We are the top most MBA education ,Business School Rankings ,mba numbers by ranking , top ranked business schools , MBA Education , gmat MBA in USA , MBA Admissions .
",
         keywords: "MBA numbers , Business School Rankings, mba numbers by ranking , top ranked business schools , MBA Education , MBA Admissions , gmat MBA in USA."
    %>



<div class="gdlr-lms-container gdlr-lms-container">
                    <div class="gdlr-lms-item">
                    <div class="gdlr-sidebar gdlr-right-sidebar two columns" >
        <div class="google_adsense skyscraper" style="padding-left: 18px;">
         <div class="profile_blog_lft" style="border:none">
                        <%= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>

                        
        
                        </div>
        </div>
        
    </div>
                <div class="seven column" style="padding:10px">
                    <%= form_tag schools_create_path, :class => 'gdlr-lms-form' do |f| %>

                    <p class="gdlr-lms-half-left">
            <label >Choose a School*</label>
            <span class="gdlr-lms-combobox" >
           <select  name="school" id="school" style="width:100% ">
                            <option value="" >-----------Select School----------</option>
                            <% @school_name.each do |sn| %>
                                <option value="<%= sn.university%>-<%= sn.business_school%>-<%= sn.id %>">
                                       <%= sn.university %>-<%= sn.business_school  %>,<%= sn.city %> 
                                 </option>
                            <% end %>
                            </select>
                        </span></p>

                        <p class="gdlr-lms-half-left">
            <label >Status*</label>
            <span class="gdlr-lms-combobox" >
                            <select  name="status" id="status" style="width: 100%;">
                                <option value="">-Select-</option>
                                <option value="Intend to Apply">Intend to Apply
                                </option>
                                <option value="Rejected">Rejected</option>
                                <option value="Accepted">Accepted</option>
                                <option value="Waitlisted">Waitlisted   </option>
                                <option value="WL, Accepted">WL, Accepted   </option>
                                <option value="WL, Rejected">WL, Rejected   </option>
                                <option value="Pending">Pending</option>
                            </select>
                        </span></p>

                        <p class="gdlr-lms-half-left">
            <label >Program*</label>
            <span class="gdlr-lms-combobox" >
                            <select  name="program" id="program" style="width: 100%;">
                                <option value="">-Select-</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Executive">Executive</option>
                        
                            </select>
                        </span></p>
                        <p class="gdlr-lms-half-left">
            <label >Round's Applied</label>
            <span class="gdlr-lms-combobox" style="width: 158px;">
                        <select name="choice" id="program">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="N/A">N/A</option>
                        
                            </select>                   
                    </span> </p>
                    <p class="gdlr-lms-half-left">
            <label >Date Applied</label>
            <span class="gdlr-lms-combobox" >
            <input type="date"  name="received" id="received" style="  background-color: white;">
                      <!--  <input type="text" name="received" id="received"  placeholder="MM/DD/YYYY" style="  background-color: white;" type="text" onfocus="(this.type='date')" >  -->
                       
                                               
                    </span> </p>
                   <p class="gdlr-lms-half-left">                                                 
            <label>Scholarship</label>
            <input type="text" name="scholarship"  value=""  style="  width: 95%;" placeholder="$">&nbsp</p>
            <p class="gdlr-lms-half-left">
            <label><span>Interview Scheduled ?</span></label>
             
            <input type="radio" name="interview" id="intqyes" value="yes" style=" ">&nbspYes
        <input type="radio" name="interview" id="intqno"  value="no" >&nbspNo
                        
        
                        
            </p>
                        
                        <p class="gdlr-lms-half-left" style="display:none;" id="intdate" style="  width: 100%;">
            
            <label >Interview Date</label>
            
            
            <span class="gdlr-lms-combobox" >
             <input type="date"  name="interviewdate" id="interviewdate" style="  background-color: white;">
                        <!-- <input type="text" name="interviewdate" id="interviewdate" placeholder="MM/DD/YYYY" style="  background-color: white;" type="text" onfocus="(this.type='date')" > -->
                        </span></p>
           <!--  <p class="gdlr-lms-half-left" style="display:none;" id="intdate2" style="  width: 100%;">
            <label >Date Decision Received</label>
            <span class="gdlr-lms-combobox" >
                       <input type="date"  name="descion" id="descion" style="  background-color: white;">
                                       
                    </span> </p> -->
                     <div style="width:100%;  text-align: center;">
                          <input type="submit" class="gdlr-button medium" style="color:#ffffff; background-color:#4f8ed6; " value="Add Application" />
             &nbsp
            <button class="gdlr-button medium" style="color:#ffffff; background-color:#d6724f;margin-top:0px;"><a href="<%=profile_index_path %>" style='color:inherit'>Cancel</a></button>

                     </div>


                    <%end %>
                    <div class="clear"></div>
</div>
<div class="gdlr-sidebar gdlr-right-sidebar two columns" >
        <div class="google_adsense skyscraper" style="padding-left: 18px;">
         <div class="profile_blog_lft" style="border:none">
                        <%= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>

                        
        
                        </div>
        </div>
        
    </div>
    <div class="twelve column" style="text-align:center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- horizontal 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6430317842295107"
     data-ad-slot="9645169322"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script type="text/javascript">
$(document).ready(function(){
    
 $('#intqyes').click(function(){
        
         $('#intdate').css('display','block');
        $('#intdate2').css('display','block');
        
        
 });
 $('#intqno').click(function(){
        
     $('#intdate').css('display','none');
     $('#intdate2').css('display','none');
 });
});
</script>


<script type='text/javascript' src='http://themes.goodlayers.com/clevercourse/wp-content/plugins/the-events-calendar/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js?ver=3.2'></script>

<script type='text/javascript'>
/* <![CDATA[ */
var tribe_js_config = {"permalink_settings":"\/%postname%\/","events_post_type":"tribe_events","events_base":"http:\/\/themes.goodlayers.com\/clevercourse\/events\/"};
/* ]]> */
</script>
<script type='text/javascript' src='http://themes.goodlayers.com/clevercourse/wp-content/plugins/the-events-calendar/resources/tribe-events.min.js?ver=3.9.3'></script>
<script type='text/javascript' src='http://themes.goodlayers.com/clevercourse/wp-content/plugins/the-events-calendar/resources/tribe-events-bar.min.js?ver=3.9.3'></script>


